body{
  background: #eeeeee;
  font-size: 1rem;
  list-style: none;
}

header{
  background: lightsalmon;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  
}
.section-one{
  background: lightskyblue;
  padding: 1.4rem;
}

.part-2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: lightcyan;
}